@font-face {
    font-family: 'UbuntuBold';
    src: url('/assets/fonts/Ubuntu-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UbuntuMedium';
    src: url('/assets/fonts/Ubuntu-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UbuntuRegular';
    src: url('/assets/fonts/Ubuntu-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'UbuntuRegular', Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
}

.form-step {
    display: none;
}

/* Display the first step initially */
#step-1 {
    display: block;
}

.container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next row if necessary */
    max-height: 600px
}

@media screen and (min-width: 768px) {
.sidebar {
    flex: 1; /* Grow and shrink to fill available space */
    max-width: 200px;
    background-image: url(/assets/images/bg-sidebar-desktop.svg);
    color: #fff;
    text-align: center;
    border-radius: 10px 0px 0px 10px;
}
    }

.sidebar h2 {
    margin: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
}

.content {
    flex: 1; /* Grow and shrink to fill available space */
    max-width: 450px;
    background-color: #fff;
    padding: 40px 40px 20px 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0px 10px 10px 0px;
}

h2 {
    font-family: 'UbuntuMedium', Arial, sans-serif;
    margin-top: 0;
}

h1 {
    font-family: 'UbuntuBold', Arial, sans-serif;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.labelclass {
    margin-top: 10px;
    margin-bottom: 5px
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="button"] {
    background-color: #6259ff;
}

button[type="submit"] {
    background-color: #f9818e;
}

/* Define styles for selected buttons */
.selected {
    background-color: #ffaf7e; /* Change to the background color you prefer */
    color: #FFFFFF; /* Change to the text color you prefer */
   
}

/* Style for plan buttons */
.plan-button.selected {
    /* Add specific styles for selected plan buttons, if needed */
}

/* Style for billing buttons */
.billing-button.selected {
    /* Add specific styles for selected billing buttons, if needed */
}

/* Style for addon buttons */
.addon-button.selected {
    /* Add specific styles for selected addon buttons, if needed */
}

@media screen and (max-width: 768px) {
    .sidebar {
        background-color: #483eff;
        width: 100%;
        text-align: center;
        border-radius: 10px 10px 0px 0px;
    }
}
